@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}

body {
	font-family: "Montserrat", sans-serif;
}

$orange: #ff7b47;
$light: #ffffff;
$ch-color: #0d5c63;
$b-color: #252b42;
$v-color: #737373;
.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 5px;
	overflow: hidden;
	@media screen and (max-width: 1100px) {
		max-width: 992px;
	}
	@media screen and (max-width: 768px) {
		max-width: 700px;
	}
	@media screen and (max-width: 425px) {
		max-width: 400px;
	}
	@media screen and (max-width: 375px) {
		max-width: 350px;
	}
	@media screen and (max-width: 320px) {
		max-width: 300px;
	}
}
.body-lock {
	overflow: hidden;
}

.header {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 793px;
	position: relative;
	@media (max-width: 425px) {
		margin-bottom: 0px;
	}
	&__top {
		display: flex;
		align-items: center;
		height: 100px;
		margin-bottom: 80px;
		@media (max-width: 425px) {
			justify-content: space-between;
		}
	}

	&__logo {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;
		color: $b-color;
		margin-right: 130px;
		@media (max-width: 600px) {
			margin-right: 80px;
		}
		@media (max-width: 539px) {
			margin-right: 50px;
		}
	}

	&__burger-btn {
		display: none;
		overflow: hidden;
		@media (max-width: 425px) {
			display: block;
			position: relative;
			z-index: 3;
			cursor: pointer;
			span {
				display: block;
				width: 30px;
				height: 2px;
				background: $b-color;
				margin-bottom: 5px;
			}
		}
	}
	.active span {
		transform: rotate(45deg);
		transition: transform 0.3s;
		position: fixed;
		top: 50px;
		right: 10px;
		&:last-child {
			transform: rotate(-45deg);
			transition: transform 0.3s;
			top: 50px;
			right: 10px;
		}
	}

	&__menu {
		display: flex;
		@media screen and (max-width: 425px) {
			display: flex;
			flex-direction: column;
			background: $light;
			width: 100%;
			height: 100%;
			padding: 20px;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			transform: translate(-100%);
			transition: transform 0.3s;
		}
	}
	.menu-active {
		transform: translate(0);
	}

	&__menu-list {
		margin-right: 20px;
		@media screen and (max-width: 510px) {
			margin-right: 10px;
		}
		&:last-child {
			margin: 0;
		}
		@media (max-width: 425px) {
			margin-bottom: 20px;
		}
		a {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.2px;
			color: $v-color;
			text-decoration: none;
			cursor: pointer;
			@media screen and (max-width: 425px) {
				font-size: 25px;
			}
		}
	}
	.is-active {
		font-weight: 900;
		@media screen and (max-width: 425px) {
			font-size: 25px;
		}
	}

	&__content {
		width: 500px;
		@media screen and (max-width: 375px) {
			width: 340px;
		}
		@media screen and (max-width: 320px) {
			width: 293px;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 800;
		font-size: 58px;
		line-height: 80px;
		color: $b-color;
		letter-spacing: 0.2px;
		margin-bottom: 35px;
		@media (max-width: 768px) {
			font-size: 45px;
		}
		@media (max-width: 320px) {
			font-size: 40px;
			width: 290px;
		}
	}

	&__description {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: $v-color;
		letter-spacing: 0.2px;
		margin-bottom: 35px;
		@media (max-width: 768px) {
			font-size: 18px;
		}
		@media (max-width: 768px) {
			width: 330px;
		}
	}
	&__button {
		height: 40px;
		@media (max-width: 375px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100px;
			text-align: center;
		}
	}

	&__button-one {
		text-decoration: none;
		width: 187px;
		height: 48px;
		color: $light;
		background-color: $orange;
		border-radius: 37px;
		padding: 10px 36px;
		cursor: pointer;
		border: none;
		@media screen and (max-width: 375px) {
			margin-bottom: 20px;
			width: 100%;
		}
	}

	&__button-two {
		color: $orange;
		text-decoration: none;
		padding: 10px 36px;
		width: 157px;
		height: 48px;
		border: 1px solid #0d5c63;
		border-radius: 37px;
		cursor: pointer;
		@media screen and (max-width: 375px) {
			width: 100%;
		}
	}

	&__bottom-items {
		display: flex;
		max-width: 1050px;
		position: absolute;
		bottom: -130px;
		right: 785px;
		@media screen and (max-width: 1440px) {
			right: 219px;
		}
		@media screen and (max-width: 1366px) {
			right: 170px;
		}
		@media screen and (max-width: 1330px) {
			right: 170px;
		}
		@media screen and (max-width: 1024px) {
			right: 30px;
		}
		@media screen and (max-width: 768px) {
			right: 25px;
		}
		@media screen and (max-width: 425px) {
			display: none;
		}
	}
	&__bottom-item {
		background: $light;
		padding: 35px;
		width: 320px;
		margin-right: 30px;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		&:last-child {
			margin: 0;
		}
		@media screen and (max-width: 1024px) {
			width: 300px;
			padding: 30px;
		}
		@media screen and (max-width: 768px) {
			width: 230px;
			padding: 18px;
			margin-right: 15px;
		}
	}
	&__bottom-item-title {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;
		color: $b-color;
		margin: 10px 0;
	}
	&__bottom-item-des {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $v-color;
	}
}

.statistic {
	padding-top: 250px;
	background: #fafafa;
	@media screen and (max-width: 425px) {
		padding-top: 100px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		@media (max-width: 425px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px;
		background: $light;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		@media screen and (max-width: 768px) {
			padding: 15px;
		}
		@media screen and (max-width: 425px) {
			margin-bottom: 50px;
			padding: 30px;
			width: 300px;
		}
		@media screen and (max-width: 320px) {
			width: 250px;
		}
	}

	&__item-image {
		width: 48px;
		height: 48px;
		margin-bottom: 10px;
		@media screen and (max-width: 768px) {
			width: 30px;
			height: 30px;
			margin: 0px;
		}
		@media screen and (max-width: 425px) {
			width: 48px;
			height: 48px;
			margin-bottom: 10px;
		}
	}

	&__item-statistic {
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 57px;
		letter-spacing: 0.2px;
		color: $b-color;
		margin-bottom: 10px;
		@media screen and (max-width: 768px) {
			font-size: 25px;
			margin: 0;
		}
	}

	&__item-des {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.1px;
		color: $v-color;
		@media screen and (max-width: 768px) {
			font-size: 14px;
		}
	}
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	letter-spacing: 0.2px;
	color: $b-color;
	margin: 50px 0 10 0;
	text-align: center;
	margin-bottom: 10px;
}

.description {
	max-width: 500px;
	margin: 0 auto 50px auto;
	text-align: center;
}

.practice {
	padding: 150px 0 80px 0;
	background: #fafafa;
	&__items {
		display: flex;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
		@media (max-width: 425px) {
			justify-content: center;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 30px 30px 0 30px;
		background: $light;
		max-width: 230px;
		min-height: 230px;
		border-radius: 10px;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		@media screen and (max-width: 768px) {
			&:nth-child(1) {
				margin-bottom: 30px;
				margin-right: 1px;
			}
			&:nth-child(2) {
				margin-bottom: 30px;
				margin-right: 0;
			}
		}
		@media screen and (max-width: 425px) {
			max-width: 300px;
			&:nth-child(1) {
				margin-bottom: 30px;
				margin-right: 15px;
			}
			&:nth-child(1) {
				margin-bottom: 30px;
				margin-right: 15px;
			}
		}
		@media (max-width: 425px) {
			&:nth-child(1) {
				margin-right: 0;
			}
			margin-bottom: 30px;
			&:nth-child(4) {
				margin-bottom: 0;
			}
		}
	}

	&__item-practice {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: $b-color;
		margin-bottom: 10px;
		width: 150px;
		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
		@media screen and (max-width: 425px) {
			width: 250px;
			text-align: center;
		}
	}

	&__item-des {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $v-color;
		width: 150px;
		@media screen and (max-width: 768px) {
			font-size: 12px;
		}
		@media screen and (max-width: 425px) {
			width: 250px;
			text-align: center;
		}
	}

	&__item-image {
		background-size: cover;
		min-height: 138px;
		margin-top: 20px;
		@media screen and (max-width: 425px) {
			width: 300px;
		}
	}
}

.who {
	padding: 100px 0 80px 0;
	@media screen and (max-width: 425px) {
		padding-top: 100px;
	}
	&__content {
		display: flex;
		margin-top: 80px;
	}
	.who__content {
		@media screen and (max-width: 425px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__content-image {
		max-width: 597px;
		min-height: 442px;
		margin-right: 120px;
		@media screen and (max-width: 1024px) {
			max-width: 500px;
		}
		@media screen and (max-width: 1024px) {
			max-width: 400px;
			margin-right: 50px;
			height: 510px;
		}
		@media screen and (max-width: 425px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 50px;
			height: 400px;
		}
		@media screen and (max-width: 425px) {
			min-height: 400px;
		}
	}

	&__content-title {
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: 57px;
		letter-spacing: 0.2px;
		color: $b-color;
		margin-bottom: 10px;
		@media (max-width: 768px) {
			line-height: 48px;
		}
		@media screen and (max-width: 425px) {
			text-align: center;
		}
	}

	&__content-description {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $v-color;
		margin-bottom: 60px;
		@media screen and (max-width: 425px) {
			text-align: center;
		}
	}

	&__content-content-item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 30px;
	}

	&__content-content-img {
		margin-right: 20px;
	}

	&__content-content-title {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: $b-color;
	}

	&__content-content-desc {
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		color: $v-color;
	}
}

.logo {
	background: #fafafa;
	padding: 50px 0;
	&__top {
		@media (max-width: 425px) {
			height: 500px;
		}
	}
	&__img {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 170px;
		@media screen and (max-width: 425px) {
			flex-direction: column;
			margin-bottom: 20px;
			img {
				margin-bottom: 20px;
			}
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #17213c;
		min-height: 124px;
		padding: 30px;
		@media (max-width: 425px) {
			flex-direction: column;
		}
	}

	&__content-title {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;
		color: $light;
		width: 300px;
		@media (max-width: 768px) {
			font-size: 21px;
			width: 100%;
			margin-bottom: 10px;
		}
		@media (max-width: 425px) {
		}
		@media (max-width: 320px) {
			font-size: 18px;
			text-align: center;
		}
	}

	&__content-input {
		position: relative;
		input {
			display: flex;
			align-items: center;
			width: 450px;
			height: 50px;
			padding: 20px 130px 20px 20px;
			border-radius: 5px;
			border: none;
			@media screen and (max-width: 768px) {
				padding: 20px 115px 20px 20px;
				width: 350px;
			}
			@media screen and (max-width: 425px) {
				width: 359px;
				height: 40px;
				padding: 20px 105px 20px 20px;
			}
			@media screen and (max-width: 375px) {
				width: 330px;
				padding: 20px 105px 20px 10px;
			}
			@media screen and (max-width: 320px) {
				width: 280px;
				padding: 20px 80px 20px 10px;
			}
			::placeholder {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 28px;
				letter-spacing: 0.2px;
				color: #737373;
			}
		}
		button {
			height: 45.4px;
			width: 117px;
			background: #ff7b47;
			border: 1px solid #e6e6e6;
			border-radius: 0px 3px 3px 0px;
			border: none;
			color: $light;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 28px;
			text-align: center;
			letter-spacing: 0.2px;
			cursor: pointer;
			position: absolute;
			right: 2px;
			bottom: 2.5px;
			@media screen and (max-width: 768px) {
				bottom: 2px;
				width: 90px;
				height: 46px;
			}
			@media screen and (max-width: 425px) {
				height: 36px;
				right: 2px;
				bottom: 2px;
			}
			@media screen and (max-width: 320px) {
				width: 70px;
				font-size: 11px;
			}
		}
	}
}

.get {
	padding: 80px 0;
	background: #fafafa;
	&__content {
		display: flex;
		justify-content: space-between;
		@media (max-width: 425px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content-item {
		text-align: center;
		padding: 50px 40px;
		background: $light;
		width: 327px;
		cursor: pointer;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		@media (max-width: 1024px) {
			padding: 50px 0;
			width: 300px;
		}
		@media (max-width: 940px) {
			width: 270px;
		}
		@media (max-width: 768px) {
			width: 220px;
		}
		@media (max-width: 425px) {
			margin-bottom: 50px;
			width: 327px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: 320px) {
			width: 260px;
		}
	}

	&__content-icon {
		margin-bottom: 15px;
	}

	&__content-email-info {
		a {
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.2px;
			color: $b-color;
			text-decoration: none;
			text-align: center;
			@media screen and (max-width: 768px) {
				font-size: 11px;
			}
			@media screen and (max-width: 425px) {
				font-size: 14px;
			}
		}
	}

	&__content-support {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.1px;
		color: $b-color;
		margin: 15px 0 15px 0;
	}
	&__content-button {
		display: inline-block;
		padding: 10px 20px;
		max-width: 200px;
		height: 44px;
		border: 1px solid #ff7b47;
		border-radius: 5px;
		background: $light;
		color: $orange;
		text-decoration: none;
		cursor: pointer;
	}
}

.footer {
	padding: 80px 0 40px 0;

	&__content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		@media (max-width: 425px) {
			flex-wrap: wrap;
		}
		@media screen and (max-width: 320px) {
			justify-content: center;
		}
	}

	&__item {
		width: 148px;
		@media screen and (max-width: 425px) {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: 320px) {
			text-align: center;
			&:nth-child(4) {
				margin-bottom: 30px;
			}
		}
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $v-color;
		margin-bottom: 15px;
	}

	&__a {
		display: block;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		color: $v-color;
		text-decoration: none;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
	}

	&__social {
		a {
			text-decoration: none;
			img {
				margin-right: 10px;
				&:nth-child(1),
				&:nth-child(3) {
					margin-bottom: 10px;
				}
			}
		}
	}
}
.footer-title {
	font-weight: 800;
	font-size: 24px;
	line-height: 40px;
}
.footer-desc {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #737373;
}
